.hidden {
    display: none;
}

#grid_container {
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: minmax(100px, auto);
    grid-row-gap: 30px;
    }

body {
    color: aliceblue;
    font-weight: 700;
    text-align: center;

    display: flex; 
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#clock{
  font-size: 80px;
  letter-spacing: 0.1em;
}

#login-form input {
    width: 250px;
    height: 40px;
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
}
#login-form button {
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

#greeting {
    font-size: 50px;
    letter-spacing: 0.06em;
}

#todo-form input {
    width: 400px;
    height: 40px;
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
}

#todo-list {
    list-style-type: none;
    font-size: 18px;
}

#weather {
    font-weight: 500;
    font-size: 20px;
}

#fortune {
    font-weight: 500;
    font-size: 18px;
  }